
body {
    background-color: lightgrey;
    font-family: 'Arimo', sans-serif;
    background-image: url("Assets/bulb-5665770_1920.jpg");
    background-color: #cccccc;
}
.wrapper {
    text-align: center;
    margin-bottom: 5%;
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    background-color: whitesmoke;
}
h1, h2 {
    text-align: center;
    margin-top: 15%; 
    color: purple;
    font-family: 'Arimo', sans-serif;  
}
p {
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    color: purple;
}
button {
    border-radius: 8px;
    font-family: 'Arimo', sans-serif;
    color: purple;
    font-weight: bold;
}    
.hide {
    display: none;
}
.quizTimer {
    font-size: 20px;
    color: purple;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    text-align: left;
}
#questionsTitle {
    font-family: 'Arimo', sans-serif;
    margin: 20px;
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    color: purple;
}
#feedback {
    font-family: 'Arimo', sans-serif;
    margin: 20px;
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    color: purple;
}
#Submit {
    background-color: purple;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}


/* Start media queries */
/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
/* Resized content to fit 786px  */
body {
    max-width: 786px;
}
/* Resized main-content to fit 786px  */
.wrapper {
position: absolute;
left: 20%;
}

a {
margin-left: 20%;
}
#goBack {
    
    position: relative;
    left: 55%;
}
#clear {
    
    position: relative;
    right: 5%;
    
}


/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {
/* Resized content to fit 640px  */
body {
    min-width: 640px;
}
/* Resized main-content to fit 640px  */
.wrapper {
position: absolute;
left: 10%;
}
a {
  margin-left: 10%;
}
}